.empty-state {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20rem;

}

.empty-state p {
    text-align: center;
    font-size: 1.4rem;
    width: 30rem;
}


.content {

    justify-content: center;
    margin-top: 2rem;
}
