.card-content {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 0.5rem;
    width: 20rem;
}

.card-header {
    background-color: #ded7de;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    text-align: -webkit-center;
    height: 8rem;
}

.card-body {
    display: grid;
    font-size: 1rem;
    justify-content: space-around;
    grid-template-columns: auto auto;
    padding: 8px;
}

.card-footer {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.card-footer button {
    align-items: center;
    color: #000000;
    cursor: pointer;
    display: flex;
    padding: 0.2rem;
    font-size: 1rem;
    justify-content: center;
}