.input-block {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.input-block input {
    background: #FFF;
    border-radius: 0.5rem;
    border: 1px solid black;
    font: 1.6rem Archivo;
    height: 2.2rem;
    outline: 0;
    width: 50rem;
}