* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
  background-color: #EEE6EE;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    color: #000000;
}

.card-pokemon-content {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 4rem;
}